<div class = "row ">
<h2 class = "text-center"> Yum!</h2>
<h4 class = "text-center">Recommendations for <%=@user.name%>:</h4>
<%if @recommendations.length == 0%>
	<p class = "text-center"> No recommendations. Get more foodie friends!</p>
<%end%>
	<div id ="recommendationList" class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3"></div>
</div>

<!-- Recommendation Modal -->
	<div class="modal fade" id="recModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Recommend the Yumminess</h4>
	      </div>
	      <div class="modal-body">
	      	<div id = "recModal_alert"></div>
	        <form id="restaurant_form">
	        	<p>Search for Restaurant</p>
						<input type="text" class="form-control" id="city" placeholder="City"/>
						<input type="text" class="form-control" id="term" placeholder="Search term"/>
						<button type="submit" class="btn btn-default" id = "restaurant_btn"> Enter</button>
					</form>
					<div id = "restaurant_results">
					</div>
					<div id = "friends">
						<h2>Friends!</h2>
					</div>

					<button class="btn btn-default" id = "recommend_btn">Recommend</button>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Friend Modal -->
	<div class="modal fade" id="friendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Foodie Friend Finder</h4>
	      </div>
	      <div class="modal-body">
	      	<div id = "friendModal_alert"> </div>
	        <form id="friend_form">
						<input type="text" class="form-control" id="friend" placeholder="Email or Name"/>
						<div class = "friend_suggestion">

						</div>
						<button type="submit" class="btn btn-default" id = "friend_btn"> Send Request</button>
					</form>
					<div id="friendRequests">
						<h4> People Who Want to Eat Food with You</h4>
						<%unless @friend_requests.nil?%>
							<div class="list-group">
							<%@friend_requests.each do |request|%>
								<a class = "list-group-item request" id = <%=request.id%>>
									<%= request.user1.name%>
									<span>
										<button type="button" class="btn btn-success accept">Yum!</button>
										<button type="button" class="btn btn-danger reject">Nope</button>
									</span>
								</a>
							<%end%>
							</div>
						<%end%>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>

<script type="text/javascript">

		$("#friend").keyup(function(){
			$(".friend_suggestion").empty();
			$(".friend_suggestion").hide();
			var data = {};
			data["input"] = this.value;
			if(data.input !== ''){
				var request = $.get('filter', data);

				request.done(function(data){
					$(".friend_suggestion").show();
					data.data.forEach(function(i){
						$(".friend_suggestion").append('<li class = "friend_choice" onClick = select(this)>'+i.name+' '+ i.email+'</li>');

					});
				});
			}
		});

		function select(e){
			$("#friend").val(e.innerText);
		}

</script>