	<%if signed_in?%>
		<h2> Yum!</h2>
		<%if @recommendations.length == 0%>
			<p> No recommendations. Get more foodie friends!</p>
		<%else%>
			<% @recommendations.each do |rec| %>
				<li> <%= rec.restaurant.name %> by <%=rec.recBy.name%></li>
			<%end%>
		<%end%>
	<%else%>
		<form id="login_form">
		   <input type="email" class="form-control" id="email" placeholder="Email">
		   <input type="password" class="form-control" id="password" placeholder="Password">
		   <button type="submit" class="btn btn-default" id = "login_btn">Log in</button>
		</form>
		<%= link_to "sign up", new_user_path%> 
	<%end%>
