<h1>FizzBuzzword</h1>
<p> Enter the your linkedin stuff</p>
<form>
	​<textarea id="txtArea" rows="10" cols="70" placeholder = "text"></textarea>
	<input type = "submit" text= "Submit" id = "submit_btn">
</form>


