/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body,html{
 	padding-top: 20px;
 	height:100%;
 	width:100%;
 }

#loginpage{
	height: 100%;
	width:100%;
	padding: 50px;
	background-image: url("images/food.jpg");
	background-size: cover;
}

.login{
	/*margin-top:20%;*/
	width:50%;
	margin: 10% auto;
}

.white{
	color: white;
}

.reccomendationBox{
	padding: 20px;
	background-color: ghostwhite;
}

.friend_suggestion{
	background-color: ghostwhite;
	border: solid 1px black;
	display: none;
	padding: 20px;
}

.friend_choice{
	list-style: none;
}

.friend_choice:hover{
	background-color: white;
	cursor: pointer;
}