<!DOCTYPE html>
<html>
<head>
  <title>Yum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
	body { padding-top: 70px; }
</style>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	  	<div class="navbar-header">
	      <a class="navbar-brand" href="#">Yum!</a>
    	</div>
	    <div class="collapse navbar-collapse" id="navOptions">
	    	<%if signed_in?%>
	      <ul class="nav navbar-nav">
	        <li id = "add_friend" data-toggle="modal" data-target="#friendModal"><a>Add Friend</a></li>
					<li id = "new_rec" data-toggle="modal" data-target="#recModal"><a>New Recommendation</a></li>
      		<li id = "logout"><a href="#">Logout</a></li>
	      </ul>	      
	      <%end%>
	    </div>
	  </div>
	</nav>

	<div class= "row col-md-6 col-md-offset-3" id = "main_container">
		<%= yield %>
	</div>
	<!-- Recommendation Modal -->
	<div class="modal fade" id="recModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Recommend the Yumminess</h4>
	      </div>
	      <div class="modal-body">
	      	<div id = "recModal_alert"> </div>
	        <form id="restaurant_form">
	        	<p>Search for Restaurant</p>
						<input type="text" class="form-control" id="city" placeholder="City"/>
						<input type="text" class="form-control" id="term" placeholder="Search term"/>
						<button type="submit" class="btn btn-default" id = "restaurant_btn"> Enter</button>
					</form>
					<div id = "restaurant_results">
					</div>
					<div id = "friends">
						<h2>Friends!</h2>
					</div>

					<button class="btn btn-default" id = "recommend_btn">Recommend</button>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Friend Modal -->
	<div class="modal fade" id="friendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Foodie Friend Finder</h4>
	      </div>
	      <div class="modal-body">
	        <form id="friend_form">
						<input type="text" class="form-control" id="friend" placeholder="friend"/>
						<button type="submit" class="btn btn-default" id = "friend_btn"> Enter</button>
					</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
</body>
</html>
