<!DOCTYPE html>
<html>
<head>
  <title>Yum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<%if signed_in?%>
	<ul>
		<li>Add Friend</li>
		<li>New Recommendation</li>
		<li>Log Out</li>
	</ul>
	<%end%>
</nav>
	<%if signed_in?%>
		<p> show the list of recommended stuff</p>
	<%else%>
		<p> Show login page stuff</p>
	<%end%>

<%= yield %>

</body>
</html>
