<!DOCTYPE html>
<html>
<head>
  <title>Yum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
	body { padding-top: 70px; }
</style>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	  	<div class="navbar-header">
	      <a class="navbar-brand" href="#">Brand</a>
    	</div>
	    <div class="collapse navbar-collapse">
	    	<%if signed_in?%>
	      <ul class="nav navbar-nav">
	        <li id = "add_friend"><a href="#">Add Friend</a></li>
					<li id = "new_rec"><a href="#">New Recommendation</a></li>
      		<li id = "logout"><a href="#">Logout</a></li>
	      </ul>	      
	      <%end%>
	    </div>
	  </div>
	</nav>


<%= yield %>

</body>
</html>
